
@{
    ViewBag.Title = "Tests";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 mx-auto offset-3">
                <h1> Tests List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home/MyProjects">Home</a></li>
                    <li class="breadcrumb-item active">Tests List</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <!-- /.card -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Tests List</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="testsTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>
                                <th>Duration</th>
                                <th>Browser</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>
                                <th>Duration</th>
                                <th>Browser</th>
                                <th>Details</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>



@*<!-- jQuery -->
<script src="~/Content/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Content/plugins/datatables/dataTables.bootstrap4.js"></script>

<!-- DataTables -->
<!-- SlimScroll -->
<script src="~/Content/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="~/Content/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="~/Content/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/Content/dist/js/demo.js"></script>
<!-- page script -->*@

<script>

    $.ajax({
        type: "GET",
        contentType: "application/json",
        dataType: "json",
        url: 'http://localhost:59443/api/GetTests/' + @ViewBag.idProject,
    })
    .done(function (tests) {
        console.log(tests);

        tests.forEach(function (test) {
            setdatatablevalues(test.Id, test.Name, test.Date_start, test.Date_end,
                test.Status, test.Duration, test.General_message,
                test.Error_message, test.Description, test.Browser, test.Site);
        });

    }).always(function () {
        //Init DataTable
        $("#testsTable").DataTable();
    });


    function setdatatablevalues(Id, Name, Date_start, Date_end, Status,
        Duration, General_message,
        Error_message, Description, Browser, Site){

    var screenshots = '<a href="#" target="_blank"><i class="fa fa-image" style="font-size:24px;"></i></a>';
        var details = '<a href="http://localhost:54669/Reports/TestDetails?testId=' + Id +
        '" target="_blank"><i class="fa fa-share-square-o" style="font-size:24px; color:green"></i></a>';

    var row = '<tr>' +
        '<td>' + Id + '</td>' +
        '<td>' + Name + '</td>' +
        '<td>' + Date_start + '</td>' +
        '<td>' + Date_end + '</td>' +
        '<td>' + Status + '</td>' +
        '<td>' + Duration + '</td>' +
        '<td>' + Browser + '</td>' +
        '<td>' + details + '</td>' +
        '</tr>';

        $('#testsTable > tbody').append(row);
}

</script>




<style>
    .card-body .dataTables_wrapper .row .col-md-6 .dataTables_length .form-control {
        display: inline-block;
        width: auto;
    }

    .card-body .dataTables_wrapper .row .col-md-6 .dataTables_filter .form-control {
        display: inline-block;
        width: auto;
    }
</style>

