@model IEnumerable<gfi_test_landing.AspNetUsers>

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 mx-auto offset-3">
                <h1>Users List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home/MyProjects">Home</a></li>
                    <li class="breadcrumb-item active">Users List</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="alert alert-success alert-dismissible mx-auto d-none" id="created-alert">
                <h5><i class="icon fa fa-check"></i> Created!</h5>
                <p id="created-text"></p>
            </div>



            <div class="col-12">
                <!-- /.card -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Users List</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="users-table" class="table table-bordered table-striped">
                            <thead>
                                <tr>

                                    <th>Name</th>
                                    <th>Email</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <!-- Modal -->
</section>

<!-- Modal HTML -->
<div id="addModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <Label id="idUserDelete" hidden></Label>
                <p>Do you really want to delete the <Label id="Delete"></Label>? This process cannot be undone.</p>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                <button type="button" id="idDelete" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Select2 -->
<script src="~/Content/plugins/select2/select2.full.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>

    $(document).ready(function () {
        $("#idDelete").click(function () {
            $('#addModal').modal('hide');
            var person = new Object();
            UserId = $('#idUserDelete').text();

            $.ajax({
                type: 'DELETE',
                url: 'http://localhost:59443/api/DeleteProject/' + UserId,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    alert("Email: " + data.Email);
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert("An error occurred!!");
                }
            });
        })
    });

</script>

<script type="text/javascript">
    $(document).on("click", ".tem-trigger-btn", function () {
        var eventName = $(this).data('name');
        var eventId = $(this).data('id');
        $('#Delete').html(eventName);
        $('#idUserDelete').html(eventId);
        // As pointed out in comments,
        // it is superfluous to have to manually call the modal.
        $('#addModal').addClass('show');
    });

    $(document).ready(function () {
        $.ajax({
            type: "get",
            url: "http://localhost:59443/api/GetProjects",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: {},
            success: function (result) {
                $.each(result, function (i) {

                    $('#ProjectsDropdown').append($('<option></option>').val(result[i].Id).html(result[i].Name));
                });
            },
            failure: function () {
                alert("Error");
            }
        });

        $.ajax({
            type: "get",
            url: "http://localhost:59443/api/GetRoles",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: {},
            success: function (result) {
                $.each(result, function (i) {

                    $('#RolesDropdown').append($('<option></option>').val(result[i].Id).html(result[i].Name));
                });
            },
            failure: function () {
                alert("Error");
            }
        });

        startListToUser();

    });

    function startListToUser() {
        $.ajax({
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            url: 'http://localhost:59443/api/GetUsers'
        })
            .done(function (Users) {
                console.log(Users);

                Users.forEach(function (user) {
                    setDataTableValues(user.Id, user.FirstName, user.LastName, user.Email);
                });

            }).always(function () {
                //Init DataTable
                $("#users-table").DataTable();
            });
    }

    function setDataTableValues(Id, FirstName, LastName, Email) {


        var details = '<a href="http://localhost:54669/Admin/UserDetails?UserId=' + Id +
            '" target="_blank"><i class="fa fa-share-square-o" style="font-size:24px; color:green"></i></a>';
        var del = '<a data-toggle="modal" data-id="' + Id + '" data-name="' + Email + '" class="tem-trigger-btn" data-toggle="modal" href="#addModal"><i class="fa fa-trash-o" style="font-size:24px; color:red"></i></a>';

        var row = '<tr>' +

            '<td>' + FirstName + " " + LastName + '</td>' +
            '<td>' + Email + '</td>' +
            '<td>' + details + "  " + del + '</td>' +
            '</tr>';

        $('#users-table > tbody').append(row);
    }

</script>



<style>

    .card-body .dataTables_wrapper .row .col-md-6 .dataTables_length .form-control {
        display: inline-block;
        width: auto;
    }

    .card-body .dataTables_wrapper .row .col-md-6 .dataTables_filter .form-control {
        display: inline-block;
        width: auto;
    }
</style>
<style type="text/css">
    body {
        font-family: 'Varela Round', sans-serif;
    }

    .modal-confirm {
        color: #636363;
        width: 400px;
    }

        .modal-confirm .modal-content {
            padding: 20px;
            border-radius: 5px;
            border: none;
            text-align: center;
            font-size: 14px;
        }

        .modal-confirm .modal-header {
            border-bottom: none;
            position: relative;
        }

        .modal-confirm h4 {
            text-align: center;
            font-size: 26px;
            margin: 30px 0 -10px;
        }

        .modal-confirm .close {
            position: absolute;
            top: -5px;
            right: -2px;
        }

        .modal-confirm .modal-body {
            color: #999;
        }

        .modal-confirm .modal-footer {
            border: none;
            text-align: center;
            border-radius: 5px;
            font-size: 13px;
            padding: 10px 15px 25px;
        }

            .modal-confirm .modal-footer a {
                color: #999;
            }

        .modal-confirm .icon-box {
            width: 80px;
            height: 80px;
            margin: 0 auto;
            border-radius: 50%;
            z-index: 9;
            text-align: center;
            border: 3px solid #f15e5e;
        }

            .modal-confirm .icon-box i {
                color: #f15e5e;
                font-size: 46px;
                display: inline-block;
                margin-top: 13px;
            }

        .modal-confirm .btn {
            color: #fff;
            border-radius: 4px;
            background: #60c7c1;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            min-width: 120px;
            border: none;
            min-height: 40px;
            border-radius: 3px;
            margin: 0 5px;
            outline: none !important;
        }

        .modal-confirm .btn-info {
            background: #c1c1c1;
        }

            .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
                background: #a8a8a8;
            }

        .modal-confirm .btn-danger {
            background: #f15e5e;
        }

            .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
                background: #ee3535;
            }

    .trigger-btn {
        display: inline-block;
        margin: 100px auto;
    }
</style>
